@import url('https://fonts.googleapis.com/css?family=Catamaran:800&display=swap');

body
{
    font-family: 'Catamaran', sans-serif;
    
}

.General
{
    display: flex;
    justify-content: center;
    padding: 0px;
    transition: margin-left .5s;
    width: 100%;
    height: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: #3e84c1;
    background-color: white;
}

.GeneralP
{
    display: flex;
    justify-content: center;
    padding: 0;
    transition: margin-left .5s;
    width: 80px;
    height: 650px;
    background-color: cyan;
}
.GeneralP .PrimeroM
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    height: 650px;
    padding: 0;
    transition: margin-left .7s;
    background-color: midnightblue;
}
.GeneralP .PrimeroM .nav
{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2d3135;
    opacity: 1;
    padding-top: 30px;
    transition: 0.7s;
    overflow: hidden; 
}

.GeneralP .PrimeroM .nav ul
{
    padding: 0;
}

.GeneralP .PrimeroM .nav li:hover
{
    border-left: 9px solid #3e84c1;
    background-color: navy;
}

.GeneralP .PrimeroM .nav a
{
    display: block;
    padding: 0px 10px;
    color: #ccc;
    text-decoration: none;
    font-size: 20px;
}

.GeneralP .PrimeroM .nav a:hover
{
    color: #fff;
    transition: .5s;
}

.GeneralP .PrimeroM .nav .close
{
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 30px;
}

.GeneralP .PrimeroM .slide a
{
    font-size: 40px;
    color: darkgoldenrod;
}

.GeneralS
{
    display: flex;
    flex-direction: column;
    padding: 0;
    transition: margin-left .5s;
    width: 100%;
    height: 600px;
    background-image: url('fondo.jpg');
    background-repeat: no-repeat;
    background-size: 100%;

    
}
.GeneralS .SegundoM
{
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: transparent;
}

.GeneralS .SegundoM #inicio1
{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 240px;
    height: 60px;
    background-color: white;
}

.GeneralS .SegundoM #inicio1 p
{
    margin: 0;
    font-family: 'Times New Roman';
    padding: 5px 15px;
    font-size: 2.5em;
    display: inline-block;
}

.GeneralS .SegundoM #inicio2
{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 800px;
    height: 50px;
    background-color: white;
}

.GeneralS .SegundoM #inicio2 ul
{
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
}

.GeneralS .SegundoM #inicio2 ul li
{
    padding: 10px 15px;
    font-family: 'Times New Roman';
    font-size: 1.5em;
    color: white;
    display: inline-block;
}

.GeneralS .TerceroM
{
    display: flex;
    align-self: center;
    align-items: center;
    width: 200px;
    height: 100px;
    background-color: transparent;
}

.GeneralS .CuartoM
{
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
    width: 900px;
    height: 160px;
    background-color: transparent;
}

.GeneralS .CuartoM #medioprimero
{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 500px;
    height: 150px;
    padding: 15px 20px;
    background-color: white;
}

.GeneralS .CuartoM #medioprimero p
{
    margin: 0;
    font-family: 'Times New Roman';
    font-size: 2em;
    display: inline-block;
}

.GeneralS .SextoM
{
    display: flex;
    align-self: center;
    align-items: center;
    width: 200px;
    height: 60px;
    background-color: transparent;
}

.GeneralS .SeptimoM
{
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: px;
    background-color: transparent;
}

.GeneralS .SeptimoM .final1
{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 500px;
    height: 150px;
    padding: 15px 20px;
    background-color: white;
}

.GeneralS .SeptimoM .final1 h2
{
    margin: 0;
    align-items: flex-start;
    font-family: 'Times New Roman';
    font-size: 2em;
    
}

.GeneralS .SeptimoM .final1 #final2 p
{
    margin: 0;
    align-items: flex-start;
    font-family: 'Times New Roman';
    font-size: 1em;

}

.GeneralS .SeptimoM .final1 #final3
{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 150px;
    height: 160px;
    padding: 0px 15px;
    background-color: transparent;
}

.GeneralS .SeptimoM #final3 p
{
    margin: 0;
    font-family: 'Times New Roman';
    font-size: 6em;
    display: inline-block;
}