@import url('https://fonts.googleapis.com/css?family=Catamaran:800&display=swap');

body
{
    font-family: 'Catamaran', sans-serif;
}

.General
{
    display: flex;
    justify-content: center;
    padding: 0px;
    transition: margin-left .5s;
    width: 100%;
    height: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: #3e84c1;
    background-color: white;
}

.GeneralP
{
    display: flex;
    justify-content: center;
    padding: 0;
    transition: margin-left .5s;
    width: 80px;
    height: 100%;
    background-color: cyan;
}

.PrimeroM
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    height: 980px;
    padding: 0;
    transition: margin-left .7s;
    background-color: midnightblue;
}

.nav
{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2d3135;
    opacity: 1;
    padding-top: 30px;
    transition: 0.7s;
    overflow: hidden; 
}

.nav ul
{
    padding: 0;
}

.nav li:hover
{
    border-left: 9px solid #3e84c1;
    background-color: navy;
}

.nav a
{
    display: block;
    padding: 0px 10px;
    color: #ccc;
    text-decoration: none;
    font-size: 20px;
}

.nav a:hover
{
    color: #fff;
    transition: .5s;
}

.nav .close
{
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 30px;
}

.slide a
{
    font-size: 40px;
    color: darkgoldenrod;
}

.GeneralS
{
    display: flex;
    flex-direction: column;
    padding: 0;
    transition: margin-left .5s;
    width: 100%;
    height: 900px;
    background-image: url('fondo.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.SegundoM
{
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: transparent;
}

.inicio1
{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 180px;
    height: 60px;
    background-color: white;
}

.inicio1 p
{
    margin: 0;
    font-family: 'Times New Roman';
    padding: 5px 15px;
    font-size: 2.5em;
    display: inline-block;
}

.inicio2
{
    width: 850px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio2 ul
{
    margin: 0px;
    padding: 0px;
}

.inicio2 ul li
{
    display: inline-block;
    padding: 10px 13px;
    background: white;
    border-radius: 5px;
    color: white;
    font-family: 'Times New Roman';
    font-size: 1.5em;
}

.inicio2 ul li:hover
{
    background-color: orange;
    color: white;
    transition: .2s;
}

.TerceroM
{
    width: 100%;
    height: 100px;
    background-color: transparent;
}

.CuartoM
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 650px;
    background-color: transparent;
}

.medioprimero
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    border-radius: 50px;
    background-image: url(GifEsfera.gif);
    background-position: center;
    background-repeat: no-repeat;
}

.medioprimero a
{
    margin: 0;
    font-family: 'Times New Roman';
    padding: 10px 20px;
    font-size: 2em;
    text-decoration: none;
}

.mediosegundo
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    border-radius: 50px;
    background-image: url(GifEsfera.gif);
    background-position: center;
    background-repeat: no-repeat;
}

.mediosegundo a
{
    margin: 0;
    font-family: 'Times New Roman';
    padding: 10px 20px;
    font-size: 2em;
    text-decoration: none;
}

.QuintoM
{
    width: 100%;
    height: 100px;
    background-color: transparent;
}

.SextoM
{
    width: 100%;
    height: 100px;
    background-color: transparent;
}

.SeptimoM
{
    width: 100%;
    height: 0px;
    background-color: transparent;
}

.OctavoM
{
    width: 100%;
    height: 0px;
    background-color: transparent;
}

.NovenoM
{
    width: 100%;
    height: 0px;
    background-color: transparent;
}

.DiezM
{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    height: 100px;
    background-color: transparent;
}

.DiezM p
{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman';
    font-size: 90px;
}